body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: beige;
    padding-left: 16px;
}

.logo img {
    height: 32px;
}

.header {
    background-color: #413323;
    color: beige;
    padding: 8px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    background-color: #413323;
    color: beige;
    padding: 8px 96px;
    display: flex;;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
    gap: 16px;
}

.title {
    flex: 1;
}

h1 {
    margin: 0;
}

.image .file {
    width: 300px;    
}

.info {
    padding: 8px 96px;
}

.info .file {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border: 4px solid black;
    border-radius: 12px;
}

.icons {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

li {
    max-width: 160px;
    text-align: center;
    margin: 16px;
}

.quote {
    background-color: #e7e1d6;
    padding: 8px 256px;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.author {
    align-self: flex-end;
}

.action {
    background-color: #977043;
    margin: 32px 64px;
    padding: 0 32px;
    border-radius: 12px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    max-width: max-content;
    align-self: center;
}

.button {
    align-self: center;
}

button {
    border-radius: 6px;
    padding: 8px 16px;
}

.footer {
    padding: 8px 96px;
    background-color: #413323;
    color: #e7e1d6;
    display: flex;
    justify-content: center;
    align-items: center;
}